<%- include('../includes/heading', {title: title}) %>

<%- include('../includes/adminHeading', {user: user}) %>

<div class="container" id="adminTours">
  <div class="admin-prod" style="margin: 5rem 0">
    <div class="d-flex">
      <h3 class="mr-4">Your Tours</h3>
      <a href="/admin/newTour" class="btn btn-primary">Create new Tours</a>
    </div>
    <hr>
    <div class="admin-prod__display">
      <% if(tours.length > 0) { %>
        <ul class="list-group">
          <% tours.forEach(tour => { %>
            <li class="list-group-item list-group-item-action">
              <div class="d-flex mb-2">
                <img src="<%= tour.img %>" alt="<%= tour.title %>" width="150" class="mr-4">
                <div>
                  <h5><%= tour.title %></h5>
                  <p><%= tour.desc %></p>
                </div>
              </div>
              <div class="d-flex">
                <span style="margin-right: auto;"></span>
                <button 
                  class="btn btn-danger mr-2"
                  @click="deleteConfirm('<%= tour._id %>')">Delete!</button>
                <a href="/admin/editTour/<%= tour._id %>" class="btn btn-warning">Edit Tour</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </div>
</div>


<script>
  new Vue({
    el: '#adminTours',
    methods: {
      deleteConfirm(tourId) {
        const isDelete = confirm(`Are you sure to delete this product!!!`)
        if (isDelete) {
          fetch(`/admin/deleteTour/${tourId}`, {method: 'POST'}) 
            .then(res => {
              if (res.status == 200) {
                console.log('Delete done');
                window.location.reload()
              }
            })
            .catch(err => {
              console.log(err);
            })
        }
      }
    }
  })
</script>


<%- include('../includes/footing.ejs') %>